<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true">

<test thread-count="5" name="Test_chrome">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="pom.TestApp"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="Test_firefox">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="pom.TestApp"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
